.App{
    background-color: #121212;
    padding-top: 2rem;
}
#landing-21-container{
    padding-top: 2rem;
}
#landing-s1-inner-container{
    background-image: url(/src/screens/LandingScreen/hacks_bg.png);
    height: 500px;
    background-size: cover;
    margin: 1rem 2rem;
    max-width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#edition-heading{
    color: #fff;
    font-size: 4rem;
    font-weight: 2rem;
    margin: 1.5rem 1rem;
}
#registration-button{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: #e22626;
}